* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

@font-face {
    font-family: Gilbert;
    src: url(../CONTENT/GilbertQualifiDemo.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Spline+Sans&display=swap');
body {
    border: 35px solid #FFEF5C;
    background-color: aliceblue;
}

.container {
    margin-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.middle img {
    background-color: white;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 50px;
}

.mt {
    margin-top: 10%;
}

.mt a {
    color: #690975;
}

.stat {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 50px;
    align-items: center;
    background-color: #fff;
    margin-top: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 25px;
    box-shadow: 4px 10px 15px 0px rgba(0, 0, 0, 0.15);
}


/* .presentation {
    margin-top: 20px;
    padding-right: 200px;
    padding-left: 250px;
    margin-right: auto;
    margin-left: auto;
} */

.presentation {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.cursorSize {
    font-size: 50px;
    animation: Typewriter-cursor 2s infinite;
}

.wrapperClass {
    font-size: 5vh;
    height: 75px;
    font-family: Gilbert;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 20px;
    align-items: center;
    box-shadow: 3px 8px 6px 0px #828282;
    margin-bottom: 5%;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    height: 500px;
}

.projectcard {
    background-color: #fff;
    width: 65%;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 3px 8px 6px 0px #828282;
}

.card1img img {
    width: 70%;
}

.projectcardtitre {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.projectcardtitre svg {
    height: 20px;
}
.paddingtext {
    padding: 20px;
}
.projecttextcard {
    height: 30%;
}
.card1img {
    background-color: aliceblue;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
}
.mesprojets {
    box-shadow: 3px 8px 6px 0px #828282;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 20px;
    width: 30%;
    letter-spacing: 15px;
    font-size: 2em;
}

.card2 {
    background-color: #fff;
    width: 30%;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 3px 8px 6px 0px #828282;
}
.card2 .middle {
display: flex;
align-items: center;
justify-content: center;
height: 30%;
}
.card2 .middle img {
    border: 1px solid black;
}
.card2text {
    background-color: aliceblue;
    height:70%;
    border-radius: 5px;
}
.card2text * {
    padding-left: 10px;
}
.contact {
    border-left: 2px rgb(202, 202, 202) solid;
    padding-left: 25px;
    margin-left: 50px;
}

.left-item a {
    margin-left: 10px;
}

.left-item {
    float: left;
    display: flex;
}

.middle-items {
    display: flex;
    justify-content: center;
}

.right-items {
    background-color: #FFEF5C;
    border-radius: 20px;
    padding: 5px;
}

a {
    padding-left: 5px;
    text-decoration: none;
    color: black;
}

a:hover {
    color: #828282;
}

.yl {
    font-size: 6vh;
    padding: 10px;
    background-color: #FFEF5C;
}