* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --main-color: #2c8ca5;
    --color-bg: aliceblue;
    --barre: rgb(17, 17, 17);
}

@font-face {
    font-family: Gilbert;
    src: url(../CONTENT/GilbertQualifiDemo.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Spline+Sans&display=swap');
#body {
    border: 35px solid var(--main-color);
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.container {
    margin-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.middle img {
    background-color: white;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 50px;
}

.mt {
    margin-top: 10%;
}

.mt a {
    color: #690975;
}

.stat {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 50px;
    align-items: center;
    background-color: #fff;
    margin-top: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 25px;
    box-shadow: 4px 10px 15px 0px rgba(0, 0, 0, 0.15);
}


/* .presentation {
    margin-top: 20px;
    padding-right: 200px;
    padding-left: 250px;
    margin-right: auto;
    margin-left: auto;
} */

.presentation {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center
}


/* @media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
} */

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

@media (min-width: 992px) and (max-width: 1100px) {
    .projectcard {
        width: 65% !important;
    }
    .row {
        height: 400px !important;
    }
}

@media (max-width: 620px) {
    .row {
        height: 400px !important;
    }
    .card1img img {
        width: 85% !important;
    }
    .middle {
        display: none;
    }
    #body {
        border: 5px solid var(--main-color) !important;
    }
    #apropos p {
        font-size: 13px;
    }
    .nav.active {
        top: 21% !important;
    }
    #barre p {
        font-size: 12px !important;
    }
    #fermer {
        width: 30px !important;
        height: 30px !important;
        margin-right: 0 !important;
    }
}

@media (max-width: 750px) {
    #barre p {
        font-size: 15px;
    }
    #fermer {
        width: 30px !important;
        height: 30px !important;
    }
    .hamburger {
        display: block !important;
        cursor: pointer;
        margin-bottom: 50px;
    }
    .left-item {
        float: left;
        display: flex;
        flex-direction: column;
    }
    .contact {
        border-left: 0px !important;
        padding-left: 0px !important;
        margin-left: 0px !important;
        flex-direction: column;
        display: flex;
    }
    .left-item {
        width: 50%;
    }
    .nav {
        text-align: center;
        flex-direction: column;
        position: fixed;
        width: 86%;
        left: -100%;
        z-index: 45;
    }
    .nav.active {
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .nav-link {
        padding: 5px;
        border-bottom: 1px solid gainsboro;
    }
    .wrapperClass {
        font-size: 3vh !important;
    }
    .statdiv h1 {
        font-size: 2em !important;
    }
    .statdiv {
        font-size: 10px;
    }
    .cursorSize {
        font-size: 35px !important;
    }
    .yl {
        font-size: 4vh !important;
    }
    .middle img {
        height: 25px;
    }
    .contact .nav-link:nth-child(2) {
        padding: 5px;
        border-bottom: none !important;
    }
    /* .stat {
        flex-direction: column;
    } */
    .right-items {
        display: none;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .first {
        display: none;
    }
    .card2 {
        display: none;
        /* font-size: 0.6em !important;
        width: 85% !important; */
    }
    .projectcard {
        width: 100% !important;
    }
    .projectcard h1 {
        font-size: 1em !important;
    }
    .projectcard h4 {
        font-size: 0.6em !important;
    }
    .row {
        margin-top: 5%;
        height: 250px;
    }
    #portfolio {
        display: flex !important;
        flex-wrap: wrap;
        flex-direction: row !important;
    }
    .card {
        display: none !important;
    }
}

@media (min-width: 750px) and (max-width: 992px) {
    #fermer {
        width: 30px !important;
        height: 30px !important;
    }
    .card2 {
        font-size: 0.8em !important;
    }
    .projectcard {
        width: 62% !important;
    }
    .projectcard h1 {
        font-size: 1.5em !important;
    }
    .projectcard h4 {
        font-size: 0.9em !important;
    }
    .row {
        height: 400px !important;
    }
}

.cursorSize {
    font-size: 50px;
    animation: Typewriter-cursor 2s infinite;
}

.wrapperClass {
    font-size: 5vh;
    height: 75px;
    font-family: Gilbert;
}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 20px;
    align-items: center;
    box-shadow: 3px 8px 6px 0px #828282;
    margin-bottom: 5%;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    height: 500px;
}

.projectcard {
    background-image: linear-gradient(to top, #d5d4d0 0%, eeeeec 100%);
    width: 65%;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 3px 8px 6px 0px #828282;
}

.card1img img {
    width: 70%;
}

.projectcardtitre {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.projectcardtitre svg {
    height: 20px;
}

.paddingtext {
    padding: 20px;
}

.projecttextcard {
    height: 30%;
}

.card1img {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
}

.mesprojets {
    box-shadow: 3px 8px 6px 0px #828282;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 20px;
    letter-spacing: 15px;
    font-size: 2em;
}

.card2 {
    background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
    width: 30%;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 3px 8px 6px 0px #828282;
}

.card2 .middle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
}

.card2 .middle img {
    border: 1px solid black;
}

.card2text {
    height: 70%;
    border-radius: 5px;
}

.card2text * {
    padding-left: 10px;
}

.contact {
    border-left: 2px rgb(202, 202, 202) solid;
    padding-left: 25px;
    margin-left: 50px;
}

.left-item a {
    margin-left: 10px;
}

.left-item {
    float: left;
    display: flex;
}

.middle-items {
    display: flex;
    justify-content: center;
}

.right-items {
    background-color: var(--main-color);
    border-radius: 20px;
    padding: 5px;
}

a {
    padding-left: 5px;
    text-decoration: none;
    color: black;
}

a:hover {
    color: #828282;
}

.yl {
    font-size: 6vh;
    padding: 10px;
    background-color: var(--main-color);
}

.card {
    background: #0e091d;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    backdrop-filter: blur(10px);
    box-shadow: 4px 10px 15px 0px rgba(0, 0, 0, 0.15);
    transition: 0.5s ease-in-out;
}

.card:hover {
    cursor: pointer;
}

.img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border-radius: 10px;
    background-image: linear-gradient(-225deg, #2CD8D5 0%, #6B8DD6 48%, #8E37D7 100%);
}

.card:hover>.img {
    transition: 0.5s ease-in-out;
    background-image: linear-gradient(-225deg, #1ddbd8 0%, #5e83d1 48%, #8e2fdb 100%);
}

.textBox {
    width: calc(100% - 90px);
    margin-left: 10px;
    color: white;
    font-family: 'Poppins' sans-serif;
    padding-top: 1%;
    padding-bottom: 1%;
}

.textContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.span {
    font-size: 10px;
}

.h1 {
    font-size: 3em;
    font-weight: bold;
}

.p {
    font-size: 1em;
    font-weight: lighter;
    padding-bottom: 5px;
}

footer {
    padding: 10%;
    text-align: center;
    color: rgb(92, 92, 92) !important;
}

footer a {
    color: rgb(167, 150, 3) !important;
}

.cp-text {
    text-shadow: 0 1px rgba(255, 255, 255, 0.1);
}

.apropos {
    margin-top: 10%;
    background-color: #fff;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 3px 8px 6px 0px #828282;
    text-align: justify;
    line-height: 1.5em;
}

#apropos {
    padding: 20px;
}

#apropos p {
    background-color: var(--color-bg);
    padding: 20px;
    border-radius: 10px;
}

#barre {
    width: 100%;
    background: var(--barre);
    padding: 8px 0;
    font-family: "Trebuchet MS";
    text-align: center;
    font-size: 19px;
    margin-top: -50px;
    display: flex;
    align-items: center;
    border-bottom: 10px solid #2e1b27;
}

#barre p {
    margin-left: auto;
}

#fermer {
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: auto;
    margin-right: 30px;
}

.blink {
    animation: blink-animation 1s infinite;
    color: rgb(255, 255, 134);
}

@keyframes blink-animation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.25;
    }
    100% {
        opacity: 1;
    }
}

svg.w-6.h-6 {
    color: var(--color-bg);
}